---
layout: default
---

{% include header.html %}

{% assign page_category = site.data.category_list[page.category] %}


<div class="container-full">
    <div class="container grid-xl">
      <div class="mt-12 show-md"></div>
      <div class="mt-8"></div>
      <div class="columns negative-m-xl">
        <div class="column col-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="https://k1163172.github.io/">Return to Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="../{{ page.category }}">{{ page_category.name }}</a>
            </li>
            <li class="breadcrumb-item">
              <a href="https://k1163172.github.io/subcategory-one/welcome-to-odin">현대판타지</a>
            </li>
          </ul>
          <h2 class="text-light text-bold">데뷔 못 하면 죽는 병 걸림</h2>
          <p class="text-light mb-0">동명의 웹소설 《데뷔 못 하면 죽는 병 걸림》을 웹툰화한 작품이다.</p>
        </div>
        <div class="column col-12">
          <div class="card">
            <div class="card-body">
                {% if site.use_authors == true %}
                {% assign post_author = site.data.authors[page.author] %}
                <div class="flex-vertical-center mb-4">
                  <figure class="avatar d-inline-block" style="align-items: center;">
                    <img  src="../assets/데뷔 못 하면 죽는 병 걸림" alt="...">
                  </figure>
                  <div class="ml-2">
                    <p class="text-dark text-small mb-0">Written by <span class="text-primary">{{ post_author.name }}</span></p>
                    <p class="text-dark text-small text-italic mb-0">{% include reading-time.html %}</p>
                  </div>
                </div>
                {% else %}
                <div class="ml-2">
                    <p class="m-0 text-small">Last updated:</p>
                    <p class="text-dark text-small text-italic mb-0">{{ page.last_modified_at | date: '%B %d, %Y'  }} - {% include reading-time.html %}</p>
                  </div>
                {% endif %}

                4년 차 공시생,
                낯선 몸에 빙의해 3년 전으로 돌아왔다.
                
                그리고 그의 눈앞에 나타난 갑작스러운 상태창의 압박!
                
                [돌발!]
                [상태이상: '데뷔가 아니면 죽음을!' 발생!]
                
                돌연사 위협 때문에
                팔자에도 없던 아이돌에 도전하게 된
                주인공의 대환장 일지.
                
                ※특이사항: 빙의 전 아이돌 데이터 찍어다 팔았었음

              
            


            </div>
          </div>
        </div>
        {% include more-help.html %}
      </div>
    </div>
  </div>